<ion-header>
  <ion-toolbar color="success">
    <ion-title>Dashboard </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <h3 style='color: #000; display: flex;justify-content: center; text-transform: capitalize; font-size: 16px'>upload
    image</h3>
  <button class="button-cta">
    <input class='input-field' type="file" id="coverImage" accept="image/*" name="filename"
      (change)="selectImage($event)">
  </button>


  <ion-row *ngIf="imageArray && imageArray.length > 0">
    <ion-col size='6' *ngFor='let image of imageArray'>
      <img src={{image}}>
    </ion-col>
  </ion-row>



</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="logout()" expand="block">Logout</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>